* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url("./Images/background.png");
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 50px;
    cursor: pointer;
}

nav ul {
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff960b;
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: #ff960b;
    transform: translateY(-2px);
}

nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}

nav .btn:hover {
    color: #ff960b;
    text-decoration: underline;
    text-decoration-color: #ff960b;
    border: 1px solid #ff960b;
    transform: translateY(-2px);
}

.content {
    margin-top: 5%;
}

.content h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.content h1 span {
    color: #ff960b;
}

.content p {
    line-height: 22px;
    font-size: 15px;

}

.content .btn {
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

.content .btn:hover {
    background: #ff7300;
    transform: translateY(-3px);
    box-shadow: 5px 5px 25px rgba(255, 150, 11, 0.4);
}

.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}

.coin {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 14px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
}

.coin:hover {
    border: 1px solid #ff960b;
    transform: translateY(-2px);
    box-shadow: 5px 5px 25px rgba(255, 150, 11, 0.4);
}

.coin img {
    width: 40px;
    margin-right: 10px;
}

.coin h3 {
    color: #fff;
    margin-bottom: 5px;
}